body{
  margin: 0;
}
.container{
  width:100%;
  height: 91px;
  background:#128C7E;
   position: fixed;
   display: flex;
   z-index: 20;
}
.sub_cont{
  display: flex;
  align-items:center;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;

}
.what_logo{
  display: flex;
  align-items: center;
  position: absolute;
}
.what_name{
  font-size: 29px;
  color: white;
  text-decoration: none;
  font-family:  Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  position: absolute;
  left: 400px;

}
.logo{
  position: absolute;
  left: 354px;
}
.elements{

  position: relative;
}
.elem1{
  position: absolute;
    left: 592px;
    top: -22px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}
.elem2{
  position: absolute;
    left: 685px;
    top: -22px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}
.elem3{
  position: absolute;
    left: 763px;
    top: -22px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}
.elem4{
  position: absolute;
    left: 896px;
    top: -22px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}
.elem5{
    position: absolute;
    left: 1026px;
    top: -22px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white
}
.elem6{
    position: absolute;
    left: 1154px;
    top: -22px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white
}
.elem7{
    position: absolute;
    left: 1202px;
    top: -22px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white
}
.drop{
  position: absolute;
  left: 1323px;
  text-decoration: none;
  background: inherit;
  color: white;
  width: 72px;
  height: 41px;
  top: -19px;
  padding-left: 15px;
  font-size: 16px;
  border: 0px;
}
.svg{
    color: white;
    position: absolute;
    left: 1320px;
    top: -8px
}
.main{
  width: 100%;
   display: flex;
   height: 641px;
   position: absolute;
   top: 16%;
}
.para1{
  width: 50%;
}
.head1{
  position: absolute;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    top: 112px;
    left: 539px;
}
.head2{
  position: absolute;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    top: 153px;
    left: 539px;
}
.sub_para1{
  position: absolute;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    top: 265px;
    left: 539px;
}
.sub_para2{
  position: absolute;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    top: 293px;
    left: 539px;
}
.sub_para3{
  position: absolute;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    top: 321px;
    left: 539px;
}
.sub_para4{
  position: absolute;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;

    text-align: left;
    top: 391px;
    left: 539px;

}
.android_img{
  position: absolute;
 top: 488px;
 left: 539px;
 max-width: 19px;
}
.android{
  position: absolute;
  top: 488px;
  left: 575px;
   text-decoration: none;
   color: green;
   font-size: 18px;
}
.apple_img{
  position: absolute;
 top: 518px;
 left: 539px;
 max-width: 19px;
}
.apple{
  position: absolute;
  top: 518px;
  left: 575px;
   text-decoration: none;
   color: green;
   font-size: 18px;
}
.windows_img{
  position: absolute;
 top: 548px;
 left: 539px;
 max-width: 19px;
}
.windows{
  position: absolute;
  top: 548px;
  left: 575px;
   text-decoration: none;
   color: green;
   font-size: 18px;
}
.photo{
  width: 50%;
}
.phone{
  position: absolute;
    max-width: 304px;
    height: auto;
    top: 69px;
    right: 550px;
}
.main2{
  width: 100%;
   display: flex;
   height: 762px;
   position: absolute;
   top: 90%;

}
.sub1_main2{
  width: 39%;
   background: #D8E8EA;
   margin-left: 197px;
}
.sub2_main2{
  width: 41%;
background: #E7F0E4;
margin-left: 54px;

}
.wb_name{
  position: absolute;
  left: 374px;
  top: 47px;
  font-size: 34px;
  font-weight: 700;
}
.main2_para1{
  position: absolute;
top: 134px;
left: 288px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, font-family;
font-weight: 400;

}
.main2_para2{
  position: absolute;
  top: 161px;
  left: 301px;
  font-size: 18px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, font-family;
  font-weight: 400;

}
.main2_para3{
  position: absolute;
  top: 189px;
  left: 292px;
  font-size: 18px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, font-family;
  font-weight: 400;

}
.main2_para4{
  position: absolute;
  top: 217px;
  left: 330px;
  font-size: 18px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, font-family;
  font-weight: 400;

}
.main2_para5{
  position: absolute;
  top: 295px;
  left: 306px;
  font-size: 18px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, font-family;
  font-weight: 400;

}
.main2_para6{
  position: absolute;
  top: 325px;
  left: 297px;
  font-size: 18px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, font-family;
  font-weight: 400;

}
.main2_para7{
  position: absolute;
  top: 359px;
  left: 363px;
  font-size: 18px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, font-family;
  font-weight: 400;

}
.phone2{
  position: absolute;
  max-width: 292px;
  top: 440px;
  left: 407px;
}
.circle{
  position: absolute;
  width: 15%;
  height: 291px;
 background: #77d7c8;
 border-radius: 63%;
 right: 394px;
 top: 87px;

}
._9v2o{
  position: absolute;
 top: 112px;
 right: 24px;
}
.hello{
  position: absolute;
  top: 107px;
  right: 123px;
  font-size: 25px;
  font-weight: 700;
}
.emoji{
  position: absolute;
  top: 126px;
  max-width: 39px;
  left: 166px;
}
.encrip{
  position: absolute;
  right: 411px;
  top: 429px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.secure{
  position: absolute;
  right: 376px;
  top: 453px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.encrip_para1{

   position: absolute;
   right: 197px;
   top: 525px;
   font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 19px;
   font-weight: 400;

}
.encript_para2{
  position: absolute;
 right: 228px;
 top: 556px;
 font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 18px;
 font-weight: 400;
}
.encript_para3{
  position: absolute;
   right: 210px;
   top: 587px;
   font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 18px;
   font-weight: 400;
}
.encript_para4{
  position: absolute;
   right: 227px;
   top: 618px;
   font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 18px;
   font-weight: 400;
}
.encript_para5{
  position: absolute;
  right: 241px;
  top: 649px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.exp{
  position: absolute;
background: #fff;
border: 2px solid #77d7c8;
font-size: 16px;
font-weight: 400;
line-height: 346%;
cursor: pointer;
text-decoration: none;
text-rendering: optimizeLegibility;
display: inline-block;
font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
top: 812px;
right: 835px;
border-radius: 37%;
padding-left: 20px;
padding-right: 27px;
}
.footer_main{
  width: 100%;
  display: flex;
  height: 426px;
  position: absolute;
  top: 199%;
}
.footer1{
  position: absolute;
  width: 100%;
  height: 343px;
  background: #273443;
}
.foot_para1{
  position: absolute;
    color: white;
    left: 409px;
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    top: 47px;

}
.h41{
  position: absolute;
  color: white;
  left: 408px;
  font-size: 18px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  top: 93px;
}
.h42{
  position: absolute;
color: white;
left: 407px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
top: 122px;
}
.h43{
  position: absolute;
color: white;
left: 407px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
top: 149px;
}
.h44{
  position: absolute;
color: white;
left: 407px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
top: 177px;
}
.h45{
  position: absolute;
color: white;
left: 407px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
top: 207px;
}
.h46{
  position: absolute;
color: white;
left: 407px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
top: 236px;
}
.foot_para2{
  position: absolute;
    color: white;
    left: 661px;
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    top: 47px;

}
.h421{
  position: absolute;
  color: white;
  left: 661px;
  font-size: 18px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  top: 93px;
}
.h422{
  position: absolute;
color: white;
left: 661px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
top: 122px;
}
.h423{
  position: absolute;
color: white;
left: 661px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
top: 149px;
}
.h424{
  position: absolute;
color: white;
left: 661px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
top: 177px;
}
.h425{
  position: absolute;
color: white;
left: 661px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
top: 207px;
}
.h426{
  position: absolute;
color: white;
left: 661px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
top: 236px;
}
.foot_para3{
  position: absolute;
    color: white;
    left: 971px;
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    top: 47px;

}
.h431{
  position: absolute;
  color: white;
  left: 971px;
  font-size: 18px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  top: 93px;
}
.h432{
  position: absolute;
color: white;
left: 971px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
top: 122px;
}
.h433{
  position: absolute;
color: white;
left: 971px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
top: 149px;
}
.foot_para4{
  position: absolute;
    color: white;
    left: 1288px;
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    top: 47px;

}
.h441{
  position: absolute;
  color: white;
  left: 1288px;
  font-size: 18px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  top: 93px;
}
.h442{
  position: absolute;
color: white;
left: 1288px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
top: 122px;
}
.h443{
  position: absolute;
color: white;
left: 1288px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
top: 149px;
}
.h444{
  position: absolute;
color: white;
left: 1288px;
font-size: 18px;
font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
top: 177px;
}
.footer2{
  position: absolute;
  width: 100%;
  height: 83px;
  background: black;
  top: 343px;
}
.last_para1{
  position: absolute;
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 16px 0px;
  left: 380px;
}
.last_para2{
  position: absolute;
  color: white;
  font-weight: 500;
  padding: 16px 0px;
  font-size: 16px;
  right: 501px;
  top: -12px
}
